<!DOCTYPE html>
<html style="background-image: url('<%= random_bg -%>')">
  <head>
    <title><%= [current_page.try(:title), current_spina_account.name].compact.join (' - ') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="https://use.typekit.net/lfz6vwf.css">
    
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
    <%= javascript_importmap_tags %>
    <script defer src="/javascript/enhancements.js"></script>

    <meta name="theme-color" content="#222222">
    <meta name="msapplication-navbutton-color" content="#222222">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V8E0YPRZH3"></script>

  </head>
  <body>
    <div class="tint tint--page">
      <div class="site-name">
        <%= current_spina_account.name -%>
      </div>
      <div class="info">
        <%= render 'default/shared/navigation' %>
      </div>
      <div class="content">
        <%= yield %>
      </div>

      <div class="footer">
        In partnership with <a href="https://www.fcpeuro.com/?utm_source=mercedestuning.club&utm_medium=referral&utm_campaign=mercedes+tuning+club">FCP Euro</a>, the trusted quality European car parts people.
        
        <br/>
        Hosted on <a href="https://m.do.co/c/9984e89381c3" target="_blank">Digital Ocean</a> ($200 credit referral).

        <br/>
        <br/>
        &copy; 2023 by <a href="https://www.instagram.com/dapper_drift/" target="_blank">@dapper_drift</a> with initial support from <a href="https://www.instagram.com/sk_3__/" target="_blank">@sk_3__</a>.
      </div>

    </div>

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-V8E0YPRZH3');
    </script>
  </body>
</html>