<div class="sidebar fixed top-0 bottom-0 p-2 w-[250px] overflow-y-auto text-center bg-gray-900">
  <div class="text-gray-100 text-xl">
    <div class="p-2.5 mt-1 flex items-center">
      <i class="bi bi-fan px-2 py-1 rounded-md bg-gray-700"></i>
      <h1 class="font-bold text-gray-200 text-[15px] ml-3"><%= current_spina_account.name %></h1>
      <i class="bi bi-x cursor-pointer ml-28 lg:hidden" onclick="openSidebar()" ></i>
    </div>
    <div class="my-2 bg-gray-600 h-[1px]"></div>
  </div>
  <!--
  <div class="p-2.5 flex items-center rounded-md px-4 duration-300 cursor-pointer bg-gray-700 text-white">
    <i class="bi bi-search text-sm"></i>
    <input type="text" placeholder="Search" class="text-[15px] ml-4 w-full bg-transparent focus:outline-none" />
  </div>

  <div class="my-4 bg-gray-600 h-[1px]"></div>

-->

  <% Spina::Page.roots.regular_pages.live.sorted.in_menu.each do |nav_item| %>
  <%- active = (request.path.starts_with?(nav_item.materialized_path) && nav_item.materialized_path != '/') || (nav_item.materialized_path == '/' && request.path == nav_item.materialized_path) -%>

  <div data-category="<%= nav_item.id -%>" class="<%= 'active' if active -%>">
    <%= link_to nav_item.materialized_path, class: "p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white #{'bg-purple-800' if active}" do -%>
      <i class="bi bi-dot"></i>
      <div class="flex justify-between w-full items-center text-[15px] ml-4 text-gray-200 font-bold">
        <%= nav_item.menu_title -%>

        <%- if nav_item.children.size > 0 -%>
          <span class="text-sm <%= 'rotate-90' unless active -%>" data-arrow="<%= nav_item.id -%>">
            <i class="bi bi-chevron-down arrow"></i>
          </span>
        <%- end -%>
      </div>
      
    <%- end -%>
    <%- if nav_item.children.size > 0 -%>
      <div class="text-left text-sm mt-2 w-4/5 mx-auto text-gray-200 font-bold <%= 'hidden' unless active -%>" data-submenu="<%= nav_item.id -%>" >
        <% nav_item.children.sorted.in_menu.live.each do |child_nav_item| %>
          <%- subnav_active = request.path.starts_with?(child_nav_item.materialized_path) -%>
          <%= link_to child_nav_item.menu_title, child_nav_item.materialized_path, class: "cursor-pointer p-2 hover:bg-blue-600 rounded-md mt-1 block  #{'bg-purple-800' if subnav_active}" %>
        <% end %>
      </div>
    <%- end -%>
  </div>

  <% end %>
</div>